<style type="text/css">
    body.active_admin form input[type="text"], body.active_admin form input[type="password"], body.active_admin form input[type="email"], body.active_admin form input[type="number"], body.active_admin form input[type="url"], body.active_admin form input[type="tel"], body.active_admin form textarea {
        width: 70%;
    }
</style>
<%= javascript_include_tag "application" %>
<script type="text/javascript">
    $(function () {
        $('FORM').nestedFields();
    })
</script>

<%= semantic_form_for [:datacenter, @flat] do |f| %>
    <table style="width: 100%">
      <tr>
        <td>
          <%= f.inputs do %>
              <%= f.input :building %>
              <%= f.input :name %>
          <% end %>
        </td>
        <td style="width:35%">
          <%= f.inputs do %>
              <span style="margin-left:10px;font-weight: bold ">Mark as Public</span>
              <%= f.input :approved %>
              <%= f.input :displayed %>
              <br>
          <% end %>
        </td>
        <td rowspan="2">
          <%= f.inputs do %>
              <%= f.input :tag_list, :as => :check_boxes, :collection => ActsAsTaggableOn::Tag.where("focus=='flat'").all.map { |b| b.name } %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.inputs :interiors_quality, :view_quality, :bhk_config, :floor, :carpet_area %>
        </td>
        <td>
          <%= f.inputs do %>
              <%= f.input :flatype, :label => "Source", :as => :select, :collection => ["Direct", "Broker"] %>
              <%= f.input :expected_rent %>
              <%= f.input :minimum_rent %>
              <%= f.input :available_from %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <h2>Associated Contacts
            <a href="#" class="add" style="float:right;font-size: 18px;">Add Contact</a>
          </h2>
          <br>
          <br>

          <div class="items">
            <%= f.nested_fields_for :flat_contacts do |f| %>
                <fieldset class="item" style="margin-top: -50px;">
                  <%= f.inputs do %>
                      <a href="#" class="remove" style="float:right; margin-right: 20px;">Remove</a>
                      <%= f.input :contact %>
                      <%= f.input :relationship %>
                  <% end %>
                  <%= f.hidden_field :id %>
                  <%= f.hidden_field :_destroy %>
                </fieldset>
            <% end %>
          </div>

        </td>
      </tr>
    </table>


    <%= f.actions %>
<% end %>

